<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lung.application.mapper.AreaInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lung.application.pojo.AreaInfo" >
    <id column="area_id" property="area_id" jdbcType="BIGINT" />
    <result column="area_code" property="area_code" jdbcType="BIGINT" />
    <result column="parent_code" property="parent_code" jdbcType="BIGINT" />
    <result column="full_name" property="full_name" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="frist_spell" property="frist_spell" jdbcType="VARCHAR" />
    <result column="area_level" property="area_level" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    area_id, area_code, parent_code, full_name, name, frist_spell, area_level
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lung.application.pojo.AreaInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from area_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from area_info
    where area_id = #{area_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from area_info
    where area_id = #{area_id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lung.application.pojo.AreaInfoExample" >
    delete from area_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lung.application.pojo.AreaInfo" >
    insert into area_info (area_id, area_code, parent_code, 
      full_name, name, frist_spell, 
      area_level)
    values (#{area_id,jdbcType=BIGINT}, #{area_code,jdbcType=BIGINT}, #{parent_code,jdbcType=BIGINT}, 
      #{full_name,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{frist_spell,jdbcType=VARCHAR}, 
      #{area_level,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lung.application.pojo.AreaInfo" >
    insert into area_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="area_code != null" >
        area_code,
      </if>
      <if test="parent_code != null" >
        parent_code,
      </if>
      <if test="full_name != null" >
        full_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="frist_spell != null" >
        frist_spell,
      </if>
      <if test="area_level != null" >
        area_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="area_id != null" >
        #{area_id,jdbcType=BIGINT},
      </if>
      <if test="area_code != null" >
        #{area_code,jdbcType=BIGINT},
      </if>
      <if test="parent_code != null" >
        #{parent_code,jdbcType=BIGINT},
      </if>
      <if test="full_name != null" >
        #{full_name,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="frist_spell != null" >
        #{frist_spell,jdbcType=VARCHAR},
      </if>
      <if test="area_level != null" >
        #{area_level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lung.application.pojo.AreaInfoExample" resultType="java.lang.Integer" >
    select count(*) from area_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update area_info
    <set >
      <if test="record.area_id != null" >
        area_id = #{record.area_id,jdbcType=BIGINT},
      </if>
      <if test="record.area_code != null" >
        area_code = #{record.area_code,jdbcType=BIGINT},
      </if>
      <if test="record.parent_code != null" >
        parent_code = #{record.parent_code,jdbcType=BIGINT},
      </if>
      <if test="record.full_name != null" >
        full_name = #{record.full_name,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.frist_spell != null" >
        frist_spell = #{record.frist_spell,jdbcType=VARCHAR},
      </if>
      <if test="record.area_level != null" >
        area_level = #{record.area_level,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update area_info
    set area_id = #{record.area_id,jdbcType=BIGINT},
      area_code = #{record.area_code,jdbcType=BIGINT},
      parent_code = #{record.parent_code,jdbcType=BIGINT},
      full_name = #{record.full_name,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      frist_spell = #{record.frist_spell,jdbcType=VARCHAR},
      area_level = #{record.area_level,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lung.application.pojo.AreaInfo" >
    update area_info
    <set >
      <if test="area_code != null" >
        area_code = #{area_code,jdbcType=BIGINT},
      </if>
      <if test="parent_code != null" >
        parent_code = #{parent_code,jdbcType=BIGINT},
      </if>
      <if test="full_name != null" >
        full_name = #{full_name,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="frist_spell != null" >
        frist_spell = #{frist_spell,jdbcType=VARCHAR},
      </if>
      <if test="area_level != null" >
        area_level = #{area_level,jdbcType=INTEGER},
      </if>
    </set>
    where area_id = #{area_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lung.application.pojo.AreaInfo" >
    update area_info
    set area_code = #{area_code,jdbcType=BIGINT},
      parent_code = #{parent_code,jdbcType=BIGINT},
      full_name = #{full_name,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      frist_spell = #{frist_spell,jdbcType=VARCHAR},
      area_level = #{area_level,jdbcType=INTEGER}
    where area_id = #{area_id,jdbcType=BIGINT}
  </update>
</mapper>